body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, #ade0f4 0%, #00264d 100%);
  min-height: 100vh;       /* wypełnij całą wysokość ekranu */
  display: flex;           /* Flexbox */
  justify-content: center; /* wycentruj poziomo */
  align-items: center;     /* wycentruj pionowo */
  text-align: center;      /* dodatkowo wyśrodkowanie tekstu */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
